@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #FADBD8 ;
}
.navmenu{
    width: 100%;
    background-color: #282c34;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    
}
a{
    color: #61dafb;
    font-weight: 500;
    text-decoration: none;
    font-size: 30px;
    margin:8px 10px 5px 10px;
    font-family: 'Baloo Tamma 2', cursive;
}
a.active_class{
    color: #ffffff;

}
a:hover{
    color: #ffffff;
}